/* desktop version */

/* @media screen and (min-width: 1024px) { */
    header .content {
        /* layout */
        position: fixed;
        top: 0;
        z-index: 500;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100vw;
        height: 4.75rem;
        flex-shrink: 0;
        /* overflow: hidden; */

        padding: 0 5.75rem 0 5.75rem;

        /* style */
        background: var(--header-background);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .header-title,
    .header-title:hover {
        width: fit-content;

        /* style */
        color: #FFF;

        /* typo */
        font-size: 1.375rem;        
        font-weight: 700;
    }
    .lupita-title {
        font-weight: 700;
    }
    .header-title span, 
    .lupita-title span {
        color: #8D8D8D;
        font-weight: 400;
    }

    /* Nav menu
    -------------------- */
    nav {
        width: fit-content;
        /* border: 1px solid green; */
    }
    nav .menu {
        display: flex;
        gap: 2rem;
        
        list-style: none;
    }
    nav .menu li a{
        color: #D4D4D4;
        font-size: 1.0625rem;
        font-weight: 400;
        letter-spacing: 0.05313rem;

        transition: color 0.5s;
    }
    nav .menu li a:hover,
    nav .menu li.active a {
        color: #73FF92;
        /* font-weight: 600; */
        /* text-decoration-line: underline; */
        cursor: pointer;
        border-bottom: 1px solid #73FF92;
    }

    /* HOME SECTION
    ---------------
    
    */

    #home {
        /* layout */
        display: flex;
        flex-direction: column;

        width: 100vw;
        /* height: 59.25rem; */
        flex-shrink: 0;
        overflow: hidden;
        padding: 8rem;
        padding-top: 14rem;
        padding-bottom: 0;

        /* style */
        background: var(--home-background);
    }

    #home .welcome-n-portfolio {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #home .welcome-message {
        width: 30.125rem;
        margin-bottom: 3.06rem;

        /* typo */
        font-size: 1.25rem;
        font-weight: 100;
        letter-spacing: 0.0625rem;

        /* animation: faded 6.8s infinite; */
    }
    #home .welcome-message .hello {
        font-size: 3.75rem;
        font-weight: 400;
        letter-spacing: 0.1875rem;
    }
    #home .welcome-message .weAre {
        font-size: 3.75rem;
        letter-spacing: 0.1875rem;
    }    
    #home .welcome-message .lupita {
        font-size: 4.625rem;
        font-weight: 600;
        letter-spacing: 0.23125rem;
    }    
    #home .welcome-message .bold {
        font-weight: 400;
    }

    #home button {
        padding: 1.3rem;
        margin-right: 1rem;

        /* style */
        border: none;
        border-radius: 0.625rem;
        background: #3BE05F;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        /* typo */
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.05rem;
        text-transform: uppercase;

        transition: background 0.3s, transform 0.3s;
    }
    #home button:hover {
        background: #33c051;
        cursor: pointer;
        transform: skew(10deg);
    }
    #home button:active {
        background: #3ad65c;
    }

    #home .portfolio-slider {        
        display: flex;
        flex-direction: column;

        overflow-x: hidden;
        overflow-y: auto;
    }

    #home .portfolio-slider .poster {
        /* layout */
        width: 40.3125rem;
        height: 21.5rem;
        flex-shrink: 0;

        /* style */
        border-radius: 1.875rem 1.875rem 0rem 0rem;
        background-repeat: no-repeat;
        background-size: cover;

        transition: all 2.5s;
        animation: imagePositionSlide 5s infinite;
    }

    #home .portfolio-slider .top-poster {
        display: flex;
        align-items: flex-end;
    }

    #home .portfolio-slider .top-poster .elements {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 11.75rem;
        padding: 1rem;
    }

    #home .portfolio-slider .top-poster .elements .arrows {
        display: flex;
        justify-content: space-between;
    }
    #home .portfolio-slider .top-poster .elements .arrows .left-arrow,
    #home .portfolio-slider .top-poster .elements .arrows .right-arrow {
        opacity: .3;
        cursor: pointer;
    }
    #home .portfolio-slider .top-poster .elements .arrows .left-arrow:hover,
    #home .portfolio-slider .top-poster .elements .arrows .right-arrow:hover {
        opacity: .7;
    }

    #home .portfolio-slider .top-poster .elements .image-meta {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    #home .portfolio-slider .top-poster .elements .image-meta .label {
        text-align: right;
    }

    #home .portfolio-slider .top-poster .elements .image-meta .label span {
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: 0.05rem;
    }

    #home .portfolio-slider .bottom-poster {
        transform: rotate(180deg) scaleX(-1);
        opacity: .1;
    }

    #home .portfolio-slider .bottom-poster .gradient-bloc {
        position: relative;
        bottom: 0;
        width: 41.3125rem;
        height: 14.375rem;
        flex-shrink: 0;

        background: linear-gradient(0deg, rgba(37, 38, 42, 0.00) 0%, #25262A 68.75%);
    }

    #home .developers-list {
        position: relative;
        bottom: 115px;

        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #home .developers-list h1 {
        position: relative;
        top: -25px;
        margin: 0;

        overflow: hidden;
        text-wrap: nowrap;
        /* border-right: 2px solid white; */
        animation: typing 3.8s infinite;
    }

    #home .developers-list h1 + p {
        position: relative;
        top: -25px;
        margin: 0;
        width: 25rem;

        font-size: 0.8rem;
    }

    #home .developers-list .horizontal-bar {
        width: 8.1875rem;
        height: 0.1875rem;
        flex-shrink: 0;

        background: #3BE05F;
    }

    #home .developers-list .developers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 3.5rem;
        column-gap: 7rem;
    }

    #home .developers-list .developers .dev {
        display: flex;
        gap: .75rem;
        padding: 1rem;
        padding-bottom: 2rem;
        width: 21rem;
        transition: all 0.3s;
    }
    
    #home .developers-list .developers .dev:hover {
        height: fit-content;
        width: fit-content;
        width: 25rem;
        padding: 1rem;
        padding-bottom: 2rem;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 0px hsla(133, 73%, 55%, 0.25);
        transform: scale(1.05);
    }
    #home .developers-list .developers .dev:active {
        box-shadow: none;
    }

    #home .developers-list .developers .dev .photo {
        width: 3.6875rem;
        height: 3.6875rem;
        flex-shrink: 0;

        border-radius: 3.6875rem;
    }
    #home .developers-list .developers .dev:nth-child(1) .photo {
        background: url(../assets/images/developers/llaume.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
    }
    #home .developers-list .developers .dev:nth-child(2) .photo {
        background: url(../assets/images/developers/jadebravo6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
    }
    #home .developers-list .developers .dev:nth-child(3) .photo {
        background: url(../assets/images/developers/caesar.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
    }

    #home .developers-list .developers .dev .dev-info {
        position: relative;
        top: 9px;

        display: flex;
        flex-direction: column;
        gap: 1.37rem;
    }
    #home .developers-list .developers .dev .dev-info .text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    #home .developers-list .developers .dev .dev-info .text .names {
        font-size: 0.9375rem;
        font-weight: 400;
        letter-spacing: 0.13125rem;
    }
    #home .developers-list .developers .dev .dev-info .text .role {
        color: #3BE05F;
        font-size: 0.75rem;
        font-weight: 400;
        letter-spacing: 0.105rem;
    }
    #home .developers-list .developers .dev .dev-info .dev-skills {
        display: flex;
        flex-wrap: wrap;
        gap: 1.09rem;
    }

    #home .developers-list .developers .dev .dev-info .dev-skills .skill {
        width: 2.04244rem;
        height: 2.04244rem;
        flex-shrink: 0;
    }
    .javascript {
        background: url(../assets/images/JavaScript_icon_32x32.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .php {
        background: url(../assets/images/PHP_icon_32x32.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .python {
        background: url(../assets/images/Python_icon_32x32.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .db-admin {
        background: url(../assets/images/Database\ Administrator_icon_32x32.png);
        background-repeat: no-repeat;
        background-size: cover;
    }



    /* ABOUT SECTION
    ----------------
    
    */
    #about {
        /* layout */
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* gap: 13.25rem; */
        flex-wrap: wrap;
        width: 100vw;
        /* height: 59.25rem; */
        flex-shrink: 0;
        padding: 8rem;
        overflow: hidden;

        /* style */
        background: var(--about-background);
    }
    
    #about .lupita-logo {
        width: 28.47544rem;
        height: 35.21225rem;
        flex-shrink: 0;
        object-fit: cover;
    }
    
    #about .text .about-title {
        font-size: 3.125rem;
        font-weight: 400;
        letter-spacing: 0.15625rem;
        text-transform: uppercase;
        width: fit-content;
        
        margin-bottom: 1.94rem;
        /* animation: faded 6.8s infinite; */
    }
    
    #about .text .about-text {
        width: 32.4375rem;

        color: #868A98;
        font-size: 0.9375rem;
        font-weight: 400;

        margin-bottom: 3.94rem;
        /* animation: faded 6.8s infinite; */
    }

    #about .text .email {
        color: #3BE05F;
        font-size: 0.9375rem;
        font-weight: 400;
        letter-spacing: 0.13125rem;
        text-decoration-line: underline;
    }
    #about .text .email:hover {
        color: #33c051;
    }
    #about .text .email:active {
        color: #3BE05F;
    }



    /* SERVICES
    -----------
     */
    #services,
    #portfolio {
        /* layout */
        display: flex;
        flex-direction: column;
        gap: 4.06rem;

        width: 100vw;
        /* height: 65.875rem; */
        flex-shrink: 0;
        overflow: hidden;
        padding: 8rem;
        padding-bottom: 3rem;

        /* style */
        background: var(--services-background);
    }

    #services::before {
        content: '';
        padding: 0;
        margin: 0;
        position: absolute;
        transform: translate(calc(50vw - 12rem), -140px);
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        background: var(--services-background);
    }

    #portfolio::before,
    #about::before,
    footer::before {
        content: '';
        padding: 0;
        margin: 0;
        position: absolute;
        transform: translate(calc(50vw - 12rem), -210px);
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        background: var(--services-background);

        z-index: 3;
    }

    #about::before {
        transform: translate(calc(50vw - 12rem), -360px);
        background: var(--home-background);
    }
    footer::before {
        transform: translate(calc(50vw - 3.3rem), -95px);
        background: var(--about-background);
    }

    #services .title,
    #portfolio .title {
        display: flex;
        flex-direction: column;
    }
    #services .title .sub-title,
    #portfolio .title .sub-title {
        color: #3BE05F;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 0;
        letter-spacing: 0.04688rem;
        text-transform: capitalize;
    }
    #services .title .main-title,
    #portfolio .title .main-title {
        font-size: 3.125rem;
        font-weight: 400;
        line-height: 0;
        letter-spacing: 0.15625rem;
        text-transform: uppercase;
    }
    #services .title .horizontal-bar,
    #portfolio .title .horizontal-bar {
        width: 8.3125rem;
        height: 0.375rem;
        flex-shrink: 0;

        background: #3BE05F;
    }

    #services .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.13rem;
    }

    #services .skills .skill {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.82rem;
        padding-left: 1.81rem;
        width: 18.125rem;
        height: 18.4375rem;
        flex-shrink: 0;

        border-radius: 0.9375rem;
        background: #454850;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        transition: transform 0.3s;
    }

    #services .skills .skill:hover {
        border: 2px solid #3BE05F;
        transform: scale(1.1);
    }
    #services .skills .skill:active {
        transform: scale(0.9);
    }

    #services .skills .skill .skill-icon {
        position: relative;
        right: 10px;
        width: 5.625rem;
        height: 5.625rem;
        flex-shrink: 0;
    }

    .github-icon {
        background: url(../assets/images/GitHub_icon_90x90.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .code-icon {
        background: url(../assets/images/Code_icon_90x90.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .home-office-icon {
        background: url(../assets/images/Home\ Office_icon_90x90.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .mobile-social-networking-icon {
        background: url(../assets/images/Mobile\ Social\ Networking_icon_90x90.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .responsive-icon {
        background: url(../assets/images/Responsive_icon_90x90.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .windows-personalization-icon {
        background: url(../assets/images/Windows\ 10\ Personalization_icon_90x90.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #services .skills .skill .skill-title {
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: 0.05rem;
        text-transform: capitalize;
    }

    #services .skills .skill .skill-desc {
        width: 13.25rem;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
    }

    #services .more {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;
        align-self: center;
        z-index: 5;
    }
    #services .more .label {
        color: #51EB73;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 0.9375rem;
        font-weight: 400;
        letter-spacing: 0.04688rem;

        cursor: pointer;
    }
    #services .more .label:hover {
        color: #33c051;
    }
    #services .more .label:active {
        color: #3BE05F;
    }
    #services .more .horizontal-bar {
        width: 3.3125rem;
        height: 0.1875rem;
        flex-shrink: 0;

        background: #FFF;
    }



    /* PORTFOLIO
    --------------
    
    */
    #portfolio {
        height: 65.875rem;

        background: var(--about-background);
    }




    /* FOOTER
    ---------
    
    */
    footer .content {
        /* layout */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        width: 100vw;
        /* height: 30rem; */
        flex-shrink: 0;
        overflow: hidden;
        padding: 7.63rem;
        padding-bottom: 1.5rem;

        /* style */
        background: var(--footer-background);
    }

    footer .developers-list {
        width: fit-content;
    }

    footer form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.88rem;
        width: fit-content;
        flex-shrink: 0;
    }

    footer form label {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 0.175rem;
    }
    footer form .all-input {
        display: flex;
        gap: 0.88rem;
    }
    footer form .simple-input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* gap: 0.88rem; */
    }

    footer form input {
        width: 24.75rem;
        height: 3.6rem;
        flex-shrink: 0;
        padding: 1.25rem;

        border-radius: 0.375rem;
        background: #1E1E22;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

        border: none;
        outline: none;
    }

    footer form input:hover,
    footer form #contact_msg:hover {
        border: 1px solid #175a26;
    }

    footer form input:focus,
    footer form #contact_msg:focus {
        border: 1px solid #33c051;
    }

    footer form #contact_msg {
        width: 24.75rem;
        height: 8.25rem;
        flex-shrink: 0;
        padding: 1.25rem;
        resize: none;

        border-radius: 0.375rem;
        background: #1E1E22;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

        border: none;
        outline: none;
    }

    footer form #contact_send {
        display: flex;
        justify-content: center;
        align-items: center;
        /* align-self: flex-end; */
        padding: 1rem;
        flex-shrink: 0;
        width: 10.375rem;

        border-radius: 0.375rem;
        background: #3BE05F;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        cursor: pointer;
        transition: background 0.3s, transform 0.2s;
    }
    footer form #contact_send:hover {
        background: #33c051;
        transform: scale(1.1);
    }
    footer form #contact_send:active {
        background: #51EB73;
        transform: scale(0.9);
    }

    footer .developers {
        display: flex;
        gap: 5.94rem;
        flex-wrap: wrap;
    }

    footer .developers .dev {
        display: flex;
        gap: 1.24rem;

        transition: transform 0.3s;
    }

    footer .developers .dev .photo {
        width: 3.6875rem;
        height: 3.6875rem;
        flex-shrink: 0;

        border-radius: 3.6875rem;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    footer .developers .dev:nth-child(1) .photo {
        background: url(../assets/images/developers/llaume.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
    }
    footer .developers .dev:nth-child(2) .photo {
        background: url(../assets/images/developers/jadebravo6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
    }
    footer .developers .dev:nth-child(3) .photo {
        background: url(../assets/images/developers/caesar.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
    }


    footer .developers .dev .dev-info {
        width: 13.0625rem;
        /* height: 15.875rem; */
        flex-shrink: 0;

        border-radius: 0.4375rem;
        background: #2F3035;

        transition: box-shadow 0.3s ease-in-out;
    }
    footer .developers .dev .dev-info:hover {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    footer .developers .dev:hover {
        transform: scale(1.2) rotate(8deg);
    }
    footer .developers .dev:nth-child(2):hover {
        transform: scale(1.2) rotate(-8deg);
    }
    footer .developers .dev:active,
    footer .developers .dev:nth-child(2):active {
        transform: scale(.8);
    }

    footer .developers .dev .dev-info .text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.7rem;
        padding-bottom: 0;
        height: fit-content;

        border-radius: 0.4375rem 0.4375rem 0rem 0rem;
        background: #3D3E43;
    }
    footer .developers .dev .dev-info .text .names {
        position: relative;
        bottom: 15px;

        font-size: 0.9375rem;
        font-weight: 400;
        letter-spacing: 0.13125rem;
    }
    footer .developers .dev .dev-info .text .role {
        position: relative;
        bottom: 15px;

        color: #3BE05F;
        font-size: 0.75rem;
        font-weight: 400;
        letter-spacing: 0.105rem;
    }

    footer .developers .dev .dev-info .text::before {
        content: '';
        position: relative;
        left: -16px;
        top: 10px;

        width: 0.9375rem;
        height: 0.9375rem;
        transform: rotate(-45deg);
        flex-shrink: 0;

        background: #3D3E43;
    }

    footer .developers .dev .dev-info .dev-skills {
        display: flex;
        flex-wrap: wrap;
        gap: 1.09rem;
        padding: 0.7rem;
    }

    footer .developers .dev .dev-info .dev-skills .skill {
        width: 2.04244rem;
        height: 2.04244rem;
        flex-shrink: 0;
    }

    footer .copyright {
        font-size: .85rem;
    }

/* } */