@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* @font-face {
  font-family: 'Inter'; 
  src: url('../assets/fonts/Inter/Inter-VariableFont_slnt_wght.ttf') format('ttf'); 
} */

:root {
    --foreground: #FFF;
    --header-background: #212226;
    --header-background-shadow: box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --home-background: #25262A;
    --about-background: #2B2C31;
    --about-color: #868A98;
    --services-background: #36383E;
    --services-skill-background: #454850;
    --footer-background: #212226;
    --footer-dev-info-background: #2F3035;
    --footer-dev-text-info-background: #3D3E43;
    --nav-foreground-item: #D4D4D4;
    --nav-foreground-item-hover: #73FF92;
    --nav-background: #2D2E33;
    --modal-background: #25262A;

    --portfolio-reflection-image-gradient: linear-gradient(0deg, rgba(37, 38, 42, 0.00) 0%, #25262A 68.75%);

    --text-field-background: #1E1E22;
    --text-field-placeholder-color: #454850;
    --text-field-border-radius: border-radius: 6px;
    --text-field-shadow: box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    --normal-button-background: #3BE05F;
    --normal-button-background-hover: #33c051;
    --normal-button-background-active: #3ad65c;

    --normal-button-border-radius: border-radius: 10px;
    --normal-button-shadow: box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

body.light {
	--foreground: #000000;
    --header-background: #dadada;
    --header-background-shadow: box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --home-background: #fff;
    --about-background: #f0f0f0;
    --about-color: #868A98;
    --services-background: #f5f5f5;
	--services-skill-background: #fff;
    --footer-background: #FFF;
	--footer-dev-info-background: #c4c4c4;
	--footer-dev-text-info-background: #ebebeb;
	--nav-foreground-item: #272727;
	--nav-foreground-item-hover: #31d154;
	--nav-background: #ffffff;
  --modal-background: hsl(228, 6%, 75%);

    --portfolio-reflection-image-gradient: linear-gradient(0deg, rgba(37, 38, 42, 0.00) 0%, #ffffff 68.75%);

    --text-field-background: #dbdbdb;
    --text-field-placeholder-color: #bebebe;
    --text-field-border-radius: border-radius: 6px;
    --text-field-shadow: box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    --normal-button-background: #3BE05F;
    --normal-button-background-hover: #33c051;
    --normal-button-background-active: #3ad65c;
}

* {
	/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
    color: var(--foreground);
    
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.prevent-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.animate-on-scroll,
.animate-on-hover {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animated {
  opacity: 1;
  transform: translateY(0);
}

#cursor {
    position: relative;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 1.1em;
    background-color: var(--foreground);
    animation: blink 0.8s infinite;
}
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 20.1%;
    }
  }
  
  @keyframes blink {
    50% {
      background-color: transparent;
    }
  }

@keyframes imagePositionSlide {
  0% {
    /* background-position: 100%; */
  }
  50% {
    background-position: 0%;
  }
}

@keyframes faded {
  0%  {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}



.send-message-result {
  background: transparent !important;
  box-shadow: none !important;
}
.send-message-result .content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 1rem;
  width: 30rem;
  height: 21rem;
  
  background: transparent !important;
}

.send-message-result .message {
  color: #FFF;
}

.send-message-result .icon-symb {
  font-size: 5rem;
}

.send-message-result .close.icon {
  position: absolute !important;
  top: 2px !important;
  right: 2px !important;
  color: var(--foreground);
}

.ui.popup,
.ui.popup::before,
.ui.popup::after {
  color: var(--foreground) !important;
  background: var(--home-background) !important;
  border: none !important;
}