/* tablet verion */

@media screen and (min-width: 744px) {
    #home {
        padding: 6rem;
        padding-bottom: 0;
        padding-top: 9.5rem;
    }

    #home .welcome-n-portfolio {
        gap: 3.25rem;
    }

    #about {
        padding: 6rem;
        gap: 5rem;
    }

    @media screen and (max-width: 1200px) {
        #about .logo,
        #home .portfolio-slider {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: flex-end;
        }

        #about .text .about-text {
            width: 45rem;
        }
    }

    @media screen and (max-width: 1024px) {
        #about .logo,
        #home .portfolio-slider {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        #about .text .about-text {
            width: 100%;
            text-align: justify;
        }
    }

    footer .content {
        justify-content: center;
        gap: 7.3rem;
    }
}